{% load my_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My All pictures</title>
</head>
<body>
    <div class="header">
         <h2>My All pictures</h2>
    </div>

    {% if my_all_pictures %}
        {% for picture in my_all_pictures %}
            <div>
                <img src="{{ picture.image.url }}" alt="Uploaded Picture" width="360" height="250">
                <p>Filename: {{ picture.image.name|basename }}</p>
                <p>Uploaded Time: {{ picture.upload_time }}</p>
                <p>Place: {{ picture.location }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No pictures found.</p>
    {% endif %}

    <div class="buttons">
            <button onclick="location.href='{% url 'my_pictures' %}'">Back</button>
    </div>

</body>
</html>

